@import "tailwindcss";
@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background: #171717;
}

body {
  background: var(--background);
  color: #a1a1a1;
}

button {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
}
