@import "tailwindcss";
@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background: #171717;
}

body {
  background: var(--background);
  color: #a1a1a1;
}

button {
  background-color: #009966;
  border: 1px solid transparent;
  font-weight: 900;
  font-size: 14px;
  padding: 0 8 0 8;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 1px solid #009966;
  transition: 300ms;
}