@import "tailwindcss";
@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background: #171717;
}

body {
  background: var(--background);
  color: #a1a1a1;
}

button {
  background-color: #292929;
  color: #cfcfcf;
  border: 1px solid #ffffff20;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 1px solid #009966;
  transition: 300ms;
}
